// colors
$border-color-light: #eaeaea;
$border-color-dark: #939393;
$background-color-main: white;
$header-color: #e95237;



// navbar
$navbar-width: 250px;



//headers
$header-height: 80px;
$small-header-height: 52px;


//main content